We're utilizing native websockets with robust-websocket.js in order to send to our request from an aws api-gateway running an aws lambda service
In AgentManager, function calls that utilize _sendEvent have the user's userId append to the request automatically.
BackendContract.md in the docs folder is where our backendcontract is, what our backend expects to get and recieve as data and the format.
OUR EVENT ROUTES WON"T WORK SINCE OUR BACKEND JUST EXPECTS AN EVENT ACTION, this we can fix later on